.about-container {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ddd;
    font-family: "Roboto", sans-serif;
  }
  
  .about-container h2 {
    font-size: 50px;
    padding: 30px;
  }
  
  .about-container p {
    font-size: 25px;
    padding: 10px 20px;
    width: 80%;
    text-align: justify;
  }
  